# Curso Análisis y limpieza de datos

**Profesor responsable:** Jorge Alexis Castillo Sepúlveda, PhD, MSc & Math. Eng.

## Capitulo 1: Limpieza de datos

### Clase 1: Obtención , organización y manejo de datos usando la librería Pandas de Python

En esta clase veremos como obtener datos y cierto manejo básico en la librería Pandas de Python de modo de poder inferir que tipo de datos estamos trabajando, usando más de un caso de estudio.

### Dataset clásicos

En el ámbito de la *ciencia de datos*, es usual hablar de *datsets clásicos*. Estos datasets generalmente vienen incluídos en paquetes y han servido como ejemplos prácticos a la hora de aprender métodos en esta disciplina, a lo largo de varias generaciones de estudiantes. Nosotros no seremos la excepción y nos servirán para explorar los datos y aprender a usar los comandos básicos.

### Datasets no clásicos

Por otra parte, no siempre tendremos a nuestra disposición datasets clásicos. Es más, en las aplicaciones de verdad, ya sea en la academia o en la industria, tendremos que acostumbrarnos a usar datasets "sucios", o que provienen de fuentes extrañas, o que no estén en un formato deseado. El primer paso de un *data scientist* es lidiar con ese tipo de datasets y es bueno que empecemos a acostumbrarnos a trabajar con ellos.

### Importando un csv (comma separated values) desde una carpeta específica

In [77]:
import os
os.chdir('C:/Users/aleph/Dropbox/Docencia posgrado/Analisis de Datos  MDS19/datasets')

"""
Dentro del paréntesis deben poner la URL de la carpeta donde guardaron el archivo IRIS.csv
"""

'\nDentro del paréntesis deben poner la URL de la carpeta donde guardaron el archivo IRIS.csv\n'

In [78]:
#importando la libreria pandas
import pandas as pd # despues del "as" puedes poner LO QUE QUIERAS, pero por convención, se usa pd

In [86]:
data=pd.read_csv('IRIS.csv', sep=',')

#generalmente se usa df, y de nuevo, tu le puedes poner el nombre que quieras ;)

In [91]:
# viendo el encabezado de la data para ver como es

data.head(170000) #dentro del parentesis puedes poner el numero entero que quieras

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
6             4.6          3.4           1.4          0.3     Iris-setosa
7             5.0          3.4           1.5          0.2     Iris-setosa
8             4.4          2.9           1.4          0.2     Iris-setosa
9             4.9          3.1           1.5          0.1     Iris-setosa
10            5.4          3.7           1.5          0.2     Iris-setosa
11            4.8          3.4           1.6          0.2     Iris-setosa
12            4.8          3.0           1.4          0.1     Iris-setosa
13            4.3          3.0           1.1          0.1     Iris-setosa
14            5.8          4.0           1.2          0.2     Iris-setosa
15            5.7          4.4           1.5          0.4     Iris-setosa
16            5.4          3.9           1.3          0.4     Iris-setosa
17            5.1          3.5           1.4          0.3     Iris-setosa
18            5.7          3.8           1.7          0.3     Iris-setosa
19            5.1          3.8           1.5          0.3     Iris-setosa
20            5.4          3.4           1.7          0.2     Iris-setosa
21            5.1          3.7           1.5          0.4     Iris-setosa
22            4.6          3.6           1.0          0.2     Iris-setosa
23            5.1          3.3           1.7          0.5     Iris-setosa
24            4.8          3.4           1.9          0.2     Iris-setosa
25            5.0          3.0           1.6          0.2     Iris-setosa
26            5.0          3.4           1.6          0.4     Iris-setosa
27            5.2          3.5           1.5          0.2     Iris-setosa
28            5.2          3.4           1.4          0.2     Iris-setosa
29            4.7          3.2           1.6          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
120           6.9          3.2           5.7          2.3  Iris-virginica
121           5.6          2.8           4.9          2.0  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
123           6.3          2.7           4.9          1.8  Iris-virginica
124           6.7          3.3           5.7          2.1  Iris-virginica
125           7.2          3.2           6.0          1.8  Iris-virginica
126           6.2          2.8           4.8          1.8  Iris-virginica
127           6.1          3.0           4.9          1.8  Iris-virginica
128           6.4          2.8           5.6          2.1  Iris-virginica
129           7.2          3.0           5.8          1.6  Iris-virginica
130           7.4          2.8           6.1          1.9  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
132           6.4          2.8           5.6          2.2  Iris-virginica
133           6.3          2.8           5.1          1.5  Iris-virginica
134           6.1          2.6           5.6          1.4  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica
136           6.3          3.4           5.6          2.4  Iris-virginica
137           6.4          3.1           5.5          1.8  Iris-virginica
138           6.0          3.0           4.8          1.8  Iris-virginica
139           6.9          3.1           5.4          2.1  Iris-virginica
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
142           5.8          2.7           5.1          1.9  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [96]:
aux=data.head(100)

In [97]:
aux

    sepal_length  sepal_width  petal_length  petal_width          species
0            5.1          3.5           1.4          0.2      Iris-setosa
1            4.9          3.0           1.4          0.2      Iris-setosa
2            4.7          3.2           1.3          0.2      Iris-setosa
3            4.6          3.1           1.5          0.2      Iris-setosa
4            5.0          3.6           1.4          0.2      Iris-setosa
5            5.4          3.9           1.7          0.4      Iris-setosa
6            4.6          3.4           1.4          0.3      Iris-setosa
7            5.0          3.4           1.5          0.2      Iris-setosa
8            4.4          2.9           1.4          0.2      Iris-setosa
9            4.9          3.1           1.5          0.1      Iris-setosa
10           5.4          3.7           1.5          0.2      Iris-setosa
11           4.8          3.4           1.6          0.2      Iris-setosa
12           4.8          3.0           1.4          0.1      Iris-setosa
13           4.3          3.0           1.1          0.1      Iris-setosa
14           5.8          4.0           1.2          0.2      Iris-setosa
15           5.7          4.4           1.5          0.4      Iris-setosa
16           5.4          3.9           1.3          0.4      Iris-setosa
17           5.1          3.5           1.4          0.3      Iris-setosa
18           5.7          3.8           1.7          0.3      Iris-setosa
19           5.1          3.8           1.5          0.3      Iris-setosa
20           5.4          3.4           1.7          0.2      Iris-setosa
21           5.1          3.7           1.5          0.4      Iris-setosa
22           4.6          3.6           1.0          0.2      Iris-setosa
23           5.1          3.3           1.7          0.5      Iris-setosa
24           4.8          3.4           1.9          0.2      Iris-setosa
25           5.0          3.0           1.6          0.2      Iris-setosa
26           5.0          3.4           1.6          0.4      Iris-setosa
27           5.2          3.5           1.5          0.2      Iris-setosa
28           5.2          3.4           1.4          0.2      Iris-setosa
29           4.7          3.2           1.6          0.2      Iris-setosa
..           ...          ...           ...          ...              ...
70           5.9          3.2           4.8          1.8  Iris-versicolor
71           6.1          2.8           4.0          1.3  Iris-versicolor
72           6.3          2.5           4.9          1.5  Iris-versicolor
73           6.1          2.8           4.7          1.2  Iris-versicolor
74           6.4          2.9           4.3          1.3  Iris-versicolor
75           6.6          3.0           4.4          1.4  Iris-versicolor
76           6.8          2.8           4.8          1.4  Iris-versicolor
77           6.7          3.0           5.0          1.7  Iris-versicolor
78           6.0          2.9           4.5          1.5  Iris-versicolor
79           5.7          2.6           3.5          1.0  Iris-versicolor
80           5.5          2.4           3.8          1.1  Iris-versicolor
81           5.5          2.4           3.7          1.0  Iris-versicolor
82           5.8          2.7           3.9          1.2  Iris-versicolor
83           6.0          2.7           5.1          1.6  Iris-versicolor
84           5.4          3.0           4.5          1.5  Iris-versicolor
85           6.0          3.4           4.5          1.6  Iris-versicolor
86           6.7          3.1           4.7          1.5  Iris-versicolor
87           6.3          2.3           4.4          1.3  Iris-versicolor
88           5.6          3.0           4.1          1.3  Iris-versicolor
89           5.5          2.5           4.0          1.3  Iris-versicolor
90           5.5          2.6           4.4          1.2  Iris-versicolor
91           6.1          3.0           4.6          1.4  Iris-versicolor
92           5.8          2.6           4.0          1.2  Iris-versicolor
93           5.0          2.3           3.3          1.0  Iris-versicolor
94           5.6          2.7           4.2          1.3  Iris-versicolor
95           5.7          3.0           4.2          1.2  Iris-versicolor
96           5.7          2.9           4.2          1.3  Iris-versicolor
97           6.2          2.9           4.3          1.3  Iris-versicolor
98           5.1          2.5           3.0          1.1  Iris-versicolor
99           5.7          2.8           4.1          1.3  Iris-versicolor

[100 rows x 5 columns]

In [98]:
# ¿que tipos de datos tiene nuestro dataframe?
data.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [99]:
# ¿como se mueven las variables continuas?
data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [100]:
# ¿y qué pasa con la columna "species"?

#veamos las categorías que contiene:
data.species.unique()

# el método unique sirve para  mostrar las posibilidades únicas de cada columna. Su equivalente en R es unique(...)

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

#### Observación: Python es un lenguaje muy intuitivo y es posible usar los "métodos" para denominar a las columnas. Pero para que esto sea posible, el string o label de la columna debe ser una "unidad" completa o monomio. Si tiene un nombre que exceda el "monomio", se recomienda usar el guión bajo para generar el monomio.

#### Suponga que un investigador a cargo del área donde usted trabaja le dice que sólo nos interesa analizar la especie iris versicolor, ya que esa especie tiene recomendaciones para problemas hepáticos.

Vamos a crear un dataframe donde solo esté esa especie.

In [104]:
#En pandas, para filtrar se debe usar el comando lógico "==" 

df_aux=data[data.species=='Iris-virginica']

In [105]:
df_aux

     sepal_length  sepal_width  petal_length  petal_width         species
100           6.3          3.3           6.0          2.5  Iris-virginica
101           5.8          2.7           5.1          1.9  Iris-virginica
102           7.1          3.0           5.9          2.1  Iris-virginica
103           6.3          2.9           5.6          1.8  Iris-virginica
104           6.5          3.0           5.8          2.2  Iris-virginica
105           7.6          3.0           6.6          2.1  Iris-virginica
106           4.9          2.5           4.5          1.7  Iris-virginica
107           7.3          2.9           6.3          1.8  Iris-virginica
108           6.7          2.5           5.8          1.8  Iris-virginica
109           7.2          3.6           6.1          2.5  Iris-virginica
110           6.5          3.2           5.1          2.0  Iris-virginica
111           6.4          2.7           5.3          1.9  Iris-virginica
112           6.8          3.0           5.5          2.1  Iris-virginica
113           5.7          2.5           5.0          2.0  Iris-virginica
114           5.8          2.8           5.1          2.4  Iris-virginica
115           6.4          3.2           5.3          2.3  Iris-virginica
116           6.5          3.0           5.5          1.8  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica
119           6.0          2.2           5.0          1.5  Iris-virginica
120           6.9          3.2           5.7          2.3  Iris-virginica
121           5.6          2.8           4.9          2.0  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
123           6.3          2.7           4.9          1.8  Iris-virginica
124           6.7          3.3           5.7          2.1  Iris-virginica
125           7.2          3.2           6.0          1.8  Iris-virginica
126           6.2          2.8           4.8          1.8  Iris-virginica
127           6.1          3.0           4.9          1.8  Iris-virginica
128           6.4          2.8           5.6          2.1  Iris-virginica
129           7.2          3.0           5.8          1.6  Iris-virginica
130           7.4          2.8           6.1          1.9  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
132           6.4          2.8           5.6          2.2  Iris-virginica
133           6.3          2.8           5.1          1.5  Iris-virginica
134           6.1          2.6           5.6          1.4  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica
136           6.3          3.4           5.6          2.4  Iris-virginica
137           6.4          3.1           5.5          1.8  Iris-virginica
138           6.0          3.0           4.8          1.8  Iris-virginica
139           6.9          3.1           5.4          2.1  Iris-virginica
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
142           5.8          2.7           5.1          1.9  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [106]:
#Describiendo los datos

df_aux.describe()

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000

#### Ejercicio: inferencias sobre los datos:

- Si un colega que está trabajando con los mismos datos, le dice que vio en el dataset una Iris-virginica con sétalo de largo 4.845 . ¿Usted le creería?
- Si alguien dice que ha visto Iris-virginica con pétalos de largo 7, ¿qué le diría?


#### Para indagar:

- Lea la documentación correspondiente a los métodos **describe** y **unique** de la librería pandas y aplique algo distinto al paréntesis vacío.

### Importando un csv desde una url

In [107]:
#### importando desde una URL

data2=pd.read_csv('https://bit.ly/2ZNXHTQ')

In [108]:
data2.head(10)

    año  mes  dia  cantidad     venta
0  2019    2    1     125.8   79647.1
1  2019    2   10     255.0  164550.1
2  2019    2    1     255.0  163424.3
3  2018    2    1     391.0  242205.6
4  2018    7    1     181.9  105966.9
5  2018    2   10     470.9  291720.0
6  2019    2   10     149.6   96317.0
7  2018    2    1     214.2  133337.1
8  2017    2    3     723.0  346609.2
9  2018    7   10     467.5  272746.5

In [109]:
data2.describe()

               año          mes          dia      cantidad         venta
count  1616.000000  1616.000000  1616.000000   1616.000000  1.616000e+03
mean   2017.665842     6.023515    15.750000    493.911696  2.690113e+05
std       0.665633     3.552796     8.763667    846.233046  3.551489e+05
min    2017.000000     1.000000     1.000000     51.000000  3.303950e+04
25%    2017.000000     3.000000     8.000000    263.875000  1.594148e+05
50%    2018.000000     6.000000    16.000000    372.300000  2.186399e+05
75%    2018.000000     9.000000    23.000000    523.950000  2.963082e+05
max    2019.000000    12.000000    31.000000  14189.900000  5.966692e+06

In [110]:
data2.dtypes

año           int64
mes           int64
dia           int64
cantidad    float64
venta       float64
dtype: object

In [113]:
#cada columna representa una serie
type(data2.dia)

pandas.core.series.Series

Parece ser que tenemos un datset que es una serie de tiempo, en donde las columnas que tienen que ver con la fecha, están separadas y no se ve un orden aparente. Hay otras dos coliumnas que corresponden a cantidad y venta, es decir, estamos hablando de un dataset que proviene directamente de la industria.

#### Creando la columna de fechas

Lo que hay que hacer, es crear una columuna uniendo lo que se ve en la columna de año, en la columna de mes y en la columna de día. ¿Cómo lo hacemos? Hay más de una manera.

### Método 1: Concatenar

In [115]:
#esto lanzará un error

data2['fecha']=str(data2.dia)+ '-' + str(data2.mes)+'-'+str(data2.año)
data2['fecha']

0       0        1\n1       10\n2        1\n3        1...
1       0        1\n1       10\n2        1\n3        1...
2       0        1\n1       10\n2        1\n3        1...
3       0        1\n1       10\n2        1\n3        1...
4       0        1\n1       10\n2        1\n3        1...
5       0        1\n1       10\n2        1\n3        1...
6       0        1\n1       10\n2        1\n3        1...
7       0        1\n1       10\n2        1\n3        1...
8       0        1\n1       10\n2        1\n3        1...
9       0        1\n1       10\n2        1\n3        1...
10      0        1\n1       10\n2        1\n3        1...
11      0        1\n1       10\n2        1\n3        1...
12      0        1\n1       10\n2        1\n3        1...
13      0        1\n1       10\n2        1\n3        1...
14      0        1\n1       10\n2        1\n3        1...
15      0        1\n1       10\n2        1\n3        1...
16      0        1\n1       10\n2        1\n3        1...
17      0        1\n1       10\n2        1\n3        1...
18      0        1\n1       10\n2        1\n3        1...
19      0        1\n1       10\n2        1\n3        1...
20      0        1\n1       10\n2        1\n3        1...
21      0        1\n1       10\n2        1\n3        1...
22      0        1\n1       10\n2        1\n3        1...
23      0        1\n1       10\n2        1\n3        1...
24      0        1\n1       10\n2        1\n3        1...
25      0        1\n1       10\n2        1\n3        1...
26      0        1\n1       10\n2        1\n3        1...
27      0        1\n1       10\n2        1\n3        1...
28      0        1\n1       10\n2        1\n3        1...
29      0        1\n1       10\n2        1\n3        1...
                              ...
1586    0        1\n1       10\n2        1\n3        1...
1587    0        1\n1       10\n2        1\n3        1...
1588    0        1\n1       10\n2        1\n3        1...
1589    0        1\n1       10\n2        1\n3        1...
1590    0        1\n1       10\n2        1\n3        1...
1591    0        1\n1       10\n2        1\n3        1...
1592    0        1\n1       10\n2        1\n3        1...
1593    0        1\n1       10\n2        1\n3        1...
1594    0        1\n1       10\n2        1\n3        1...
1595    0        1\n1       10\n2        1\n3        1...
1596    0        1\n1       10\n2        1\n3        1...
1597    0        1\n1       10\n2        1\n3        1...
1598    0        1\n1       10\n2        1\n3        1...
1599    0        1\n1       10\n2        1\n3        1...
1600    0        1\n1       10\n2        1\n3        1...
1601    0        1\n1       10\n2        1\n3        1...
1602    0        1\n1       10\n2        1\n3        1...
1603    0        1\n1       10\n2        1\n3        1...
1604    0        1\n1       10\n2        1\n3        1...
1605    0        1\n1       10\n2        1\n3        1...
1606    0        1\n1       10\n2        1\n3        1...
1607    0        1\n1       10\n2        1\n3        1...
1608    0        1\n1       10\n2        1\n3        1...
1609    0        1\n1       10\n2        1\n3        1...
1610    0        1\n1       10\n2        1\n3        1...
1611    0        1\n1       10\n2        1\n3        1...
1612    0        1\n1       10\n2        1\n3        1...
1613    0        1\n1       10\n2        1\n3        1...
1614    0        1\n1       10\n2        1\n3        1...
1615    0        1\n1       10\n2        1\n3        1...
Name: fecha, Length: 1616, dtype: object

**A tener en cuenta** : Tener errores no nos hace menos data scientists ni nada por el estilo. No existe ser humano que no haya tenido errores en programación. Los errores sirven para aprender, es la gracia de la investigación y la ciencia en general. Quien busque la perfección debe replantearse.

*¿Donde está el error?* En que se quiere concatenar datos que no son string (excepto por el guión "-")

**La solución es usar el método map, cambiando el tipo de dato a string**. Esto es porque cada columna es una Serie (Series) y map actúa sobre cada elemento de una serie.

In [116]:
data2['fecha']=data2.dia.map(str) + '-' + data2.mes.map(str) + '-' + data2.año.map(str)

In [117]:
data2['fecha']

0         1-2-2019
1        10-2-2019
2         1-2-2019
3         1-2-2018
4         1-7-2018
5        10-2-2018
6        10-2-2019
7         1-2-2018
8         3-2-2017
9        10-7-2018
10       10-2-2018
11        1-3-2017
12        1-7-2018
13        4-2-2017
14       1-10-2018
15        6-2-2017
16        1-8-2017
17       10-1-2019
18       12-2-2019
19       10-1-2019
20       10-5-2018
21       10-3-2017
22        7-2-2017
23       10-7-2018
24       13-6-2017
25       11-2-2019
26        1-3-2017
27      10-10-2018
28       11-1-2019
29        5-2-2017
           ...
1586      7-8-2018
1587     9-12-2017
1588     23-2-2017
1589     9-12-2017
1590     20-2-2017
1591     8-12-2017
1592     22-2-2017
1593      8-8-2018
1594      9-8-2018
1595     24-2-2017
1596      9-8-2018
1597     24-2-2017
1598     21-2-2017
1599     22-2-2017
1600     25-2-2017
1601     25-2-2017
1602     26-2-2017
1603     28-2-2017
1604     28-2-2017
1605     27-2-2017
1606     26-2-2017
1607     27-2-2017
1608      3-2-2017
1609      4-2-2017
1610      7-2-2017
1611      5-2-2017
1612      9-2-2017
1613      9-2-2017
1614      8-2-2017
1615      8-2-2017
Name: fecha, Length: 1616, dtype: object

La idea entonces es ordenar los datos por fecha. Veamos que pasa si ordeno solo la columna de fechas recién creada.

In [118]:
data2

       año  mes  dia  cantidad     venta       fecha
0     2019    2    1     125.8   79647.1    1-2-2019
1     2019    2   10     255.0  164550.1   10-2-2019
2     2019    2    1     255.0  163424.3    1-2-2019
3     2018    2    1     391.0  242205.6    1-2-2018
4     2018    7    1     181.9  105966.9    1-7-2018
5     2018    2   10     470.9  291720.0   10-2-2018
6     2019    2   10     149.6   96317.0   10-2-2019
7     2018    2    1     214.2  133337.1    1-2-2018
8     2017    2    3     723.0  346609.2    3-2-2017
9     2018    7   10     467.5  272746.5   10-7-2018
10    2018    2   10     317.9  198777.8   10-2-2018
11    2017    3    1     673.5  348318.0    1-3-2017
12    2018    7    1     391.0  228423.0    1-7-2018
13    2017    2    4    1261.5  607294.8    4-2-2017
14    2018   10    1     372.3  213961.8   1-10-2018
15    2017    2    6     534.0  271291.2    6-2-2017
16    2017    8    1     453.0  289920.0    1-8-2017
17    2019    1   10     382.5  204457.5   10-1-2019
18    2019    2   12     389.3  201069.7   12-2-2019
19    2019    1   10     564.4  301642.9   10-1-2019
20    2018    5   10     202.3  125785.4   10-5-2018
21    2017    3   10     360.0  182430.0   10-3-2017
22    2017    2    7     597.0  310611.6    7-2-2017
23    2018    7   10     238.0  137101.9   10-7-2018
24    2017    6   13     336.0  207864.0   13-6-2017
25    2019    2   11     413.1  209067.3   11-2-2019
26    2017    3    1    1107.0  577962.0    1-3-2017
27    2018   10   10     251.6  144107.6  10-10-2018
28    2019    1   11     574.6  308711.0   11-1-2019
29    2017    2    5     559.5  268880.4    5-2-2017
...    ...  ...  ...       ...       ...         ...
1586  2018    8    7     221.0  130990.6    7-8-2018
1587  2017   12    9     532.5  318030.0   9-12-2017
1588  2017    2   23     541.5  281340.0   23-2-2017
1589  2017   12    9     354.0  211396.8   9-12-2017
1590  2017    2   20     489.0  283168.8   20-2-2017
1591  2017   12    8     552.0  326679.6   8-12-2017
1592  2017    2   22     544.5  284764.8   22-2-2017
1593  2018    8    8     324.7  208325.0    8-8-2018
1594  2018    8    9     117.3   76245.0    9-8-2018
1595  2017    2   24     774.0  377338.8   24-2-2017
1596  2018    8    9     300.9  191685.0    9-8-2018
1597  2017    2   24    1155.0  566828.4   24-2-2017
1598  2017    2   21     436.5  258037.2   21-2-2017
1599  2017    2   22     955.5  501825.6   22-2-2017
1600  2017    2   25     726.0  353997.6   25-2-2017
1601  2017    2   25    1152.0  564445.2   25-2-2017
1602  2017    2   26    1594.5  788950.8   26-2-2017
1603  2017    2   28    1236.0  605989.2   28-2-2017
1604  2017    2   28     799.5  391514.4   28-2-2017
1605  2017    2   27    1092.0  532939.2   27-2-2017
1606  2017    2   26     918.0  447787.2   26-2-2017
1607  2017    2   27    1240.5  568902.0   27-2-2017
1608  2017    2    3    1683.0  811293.6    3-2-2017
1609  2017    2    4     816.0  391959.6    4-2-2017
1610  2017    2    7     463.5  234453.6    7-2-2017
1611  2017    2    5    1434.0  690364.8    5-2-2017
1612  2017    2    9     256.5  151424.4    9-2-2017
1613  2017    2    9     144.0   84105.6    9-2-2017
1614  2017    2    8     298.5  176473.2    8-2-2017
1615  2017    2    8     225.0  133020.0    8-2-2017

[1616 rows x 6 columns]

In [119]:
data2.sort_values(by=['fecha'])

       año  mes  dia  cantidad     venta      fecha
207   2017   10    1    1269.0  692805.6  1-10-2017
189   2017   10    1     874.5  479674.8  1-10-2017
14    2018   10    1     372.3  213961.8  1-10-2018
45    2018   10    1     425.0  262874.3  1-10-2018
258   2017   11    1     654.0  349706.4  1-11-2017
200   2017   11    1     655.5  396627.6  1-11-2017
157   2018   11    1     166.6  108290.0  1-11-2018
117   2018   11    1     244.8  154700.0  1-11-2018
154   2017   12    1     880.5  489667.2  1-12-2017
119   2017   12    1     508.5  281546.4  1-12-2017
141   2018   12    1     719.1  359110.7  1-12-2018
81    2018   12    1     261.8  131535.3  1-12-2018
655   2017    2    1     937.5  483481.2   1-2-2017
676   2017    2    1     352.5  180204.0   1-2-2017
3     2018    2    1     391.0  242205.6   1-2-2018
7     2018    2    1     214.2  133337.1   1-2-2018
0     2019    2    1     125.8   79647.1   1-2-2019
2     2019    2    1     255.0  163424.3   1-2-2019
26    2017    3    1    1107.0  577962.0   1-3-2017
11    2017    3    1     673.5  348318.0   1-3-2017
76    2018    3    1     268.6  166938.2   1-3-2018
36    2018    3    1     581.4  356430.1   1-3-2018
218   2019    3    1     515.1  265970.9   1-3-2019
183   2019    3    1     255.0  133294.2   1-3-2019
43    2017    4    1     408.0  226039.2   1-4-2017
69    2017    4    1     280.5  154766.4   1-4-2017
53    2018    4    1     236.3  147425.2   1-4-2018
91    2018    4    1     453.9  282443.2   1-4-2018
1310  2017    6    1     513.0  318060.0   1-6-2017
1286  2017    6    1     280.5  173910.0   1-6-2017
...    ...  ...  ...       ...       ...        ...
1502  2017    3    9     126.0   73410.0   9-3-2017
1422  2017    3    9     276.0  162904.8   9-3-2017
1579  2018    3    9     647.7  346318.7   9-3-2018
1568  2018    3    9     746.3  399855.3   9-3-2018
1517  2019    3    9     365.5  191781.2   9-3-2019
1511  2019    3    9     503.2  262176.2   9-3-2019
1468  2017    4    9     694.5  430503.6   9-4-2017
1451  2017    4    9     517.5  320850.0   9-4-2017
1480  2018    4    9     557.6  338521.3   9-4-2018
1374  2018    4    9     727.6  422342.7   9-4-2018
1460  2017    5    9     295.5  183210.0   9-5-2017
1435  2017    5    9     282.0  173407.2   9-5-2017
1438  2018    5    9     290.7  179862.8   9-5-2018
1388  2018    5    9     192.1  119619.5   9-5-2018
1257  2017    6    9     435.0  269700.0   9-6-2017
1200  2017    6    9     427.5  265050.0   9-6-2017
1540  2018    6    9     431.8  268669.7   9-6-2018
103   2018    6    9     258.4  159510.0   9-6-2018
1539  2017    7    9     576.0  342084.0   9-7-2017
1535  2017    7    9     418.5  248172.0   9-7-2017
1575  2018    7    9     370.6  201585.8   9-7-2018
1580  2018    7    9     457.3  261199.9   9-7-2018
1455  2017    8    9     111.0   71040.0   9-8-2017
1426  2017    8    9     331.5  212160.0   9-8-2017
1596  2018    8    9     300.9  191685.0   9-8-2018
1594  2018    8    9     117.3   76245.0   9-8-2018
1390  2017    9    9     217.5  139200.0   9-9-2017
1370  2017    9    9     310.5  198720.0   9-9-2017
1264  2018    9    9     527.0  300651.0   9-9-2018
1375  2018    9    9     357.0  203846.5   9-9-2018

[1616 rows x 6 columns]

**¿qué pasó? ¿es correcto el orden?**

####  Debemos transformar el string a fecha usando pd.to_datetime

In [121]:
data2['fecha']=pd.to_datetime(data2['fecha'])

In [122]:
data2.sort_values(by=['fecha'], inplace=True) # se puede usar con inplace=True para no tener que hacer x=x(condicion nueva)

In [123]:
data2

       año  mes  dia  cantidad     venta      fecha
655   2017    2    1     937.5  483481.2 2017-01-02
676   2017    2    1     352.5  180204.0 2017-01-02
26    2017    3    1    1107.0  577962.0 2017-01-03
11    2017    3    1     673.5  348318.0 2017-01-03
69    2017    4    1     280.5  154766.4 2017-01-04
43    2017    4    1     408.0  226039.2 2017-01-04
1286  2017    6    1     280.5  173910.0 2017-01-06
1310  2017    6    1     513.0  318060.0 2017-01-06
169   2017    7    1     568.5  338064.0 2017-01-07
124   2017    7    1     631.5  374394.0 2017-01-07
52    2017    8    1     226.5  144691.2 2017-01-08
16    2017    8    1     453.0  289920.0 2017-01-08
73    2017    9    1     274.5  175680.0 2017-01-09
127   2017    9    1     372.0  238080.0 2017-01-09
189   2017   10    1     874.5  479674.8 2017-01-10
207   2017   10    1    1269.0  692805.6 2017-01-10
258   2017   11    1     654.0  349706.4 2017-01-11
200   2017   11    1     655.5  396627.6 2017-01-11
119   2017   12    1     508.5  281546.4 2017-01-12
154   2017   12    1     880.5  489667.2 2017-01-12
357   2017    1   13     357.0  210810.0 2017-01-13
396   2017    1   13     219.0  128814.0 2017-01-13
374   2017    1   14     210.0  124152.0 2017-01-14
409   2017    1   14     301.5  177873.6 2017-01-14
436   2017    1   15     255.0  149004.0 2017-01-15
481   2017    1   15     343.5  203032.8 2017-01-15
501   2017    1   16     345.0  185251.2 2017-01-16
517   2017    1   16     375.0  215991.6 2017-01-16
592   2017    1   17     301.5  174979.2 2017-01-17
563   2017    1   17     201.0  118831.2 2017-01-17
...    ...  ...  ...       ...       ...        ...
1269  2019    1    8     391.0  208773.5 2019-08-01
1154  2019    1    8     249.9  131630.2 2019-08-01
999   2019    2    8     108.8   70166.2 2019-08-02
1019  2019    2    8     241.4  154676.6 2019-08-02
1473  2019    3    8     358.7  187138.9 2019-08-03
1459  2019    3    8     311.1  162423.3 2019-08-03
1237  2019    1    9     600.1  320680.1 2019-09-01
1281  2019    1    9     306.0  163566.0 2019-09-01
1053  2019    2    9     100.3   65010.4 2019-09-02
1090  2019    2    9     234.6  151659.3 2019-09-02
1517  2019    3    9     365.5  191781.2 2019-09-03
1511  2019    3    9     503.2  262176.2 2019-09-03
19    2019    1   10     564.4  301642.9 2019-10-01
17    2019    1   10     382.5  204457.5 2019-10-01
1     2019    2   10     255.0  164550.1 2019-10-02
6     2019    2   10     149.6   96317.0 2019-10-02
172   2019    3   10     350.2  182816.4 2019-10-03
206   2019    3   10     710.6  369148.0 2019-10-03
28    2019    1   11     574.6  308711.0 2019-11-01
35    2019    1   11     584.8  312789.1 2019-11-01
41    2019    2   11     365.5  178685.0 2019-11-02
25    2019    2   11     413.1  209067.3 2019-11-02
316   2019    3   11     676.6  329505.8 2019-11-03
292   2019    3   11     620.5  319829.9 2019-11-03
95    2019    1   12     365.5  196940.9 2019-12-01
63    2019    1   12     613.7  331921.2 2019-12-01
18    2019    2   12     389.3  201069.7 2019-12-02
32    2019    2   12     192.1   99568.3 2019-12-02
359   2019    3   12     345.1  179011.3 2019-12-03
383   2019    3   12     459.0  239263.7 2019-12-03

[1616 rows x 6 columns]

In [124]:
# Sólo nos interesa la fecha, la venta y la cantidad, por lo tanto, seleccionamos las columans de interés:

data2=data2[['fecha','cantidad','venta']]
data2

          fecha  cantidad     venta
655  2017-01-02     937.5  483481.2
676  2017-01-02     352.5  180204.0
26   2017-01-03    1107.0  577962.0
11   2017-01-03     673.5  348318.0
69   2017-01-04     280.5  154766.4
43   2017-01-04     408.0  226039.2
1286 2017-01-06     280.5  173910.0
1310 2017-01-06     513.0  318060.0
169  2017-01-07     568.5  338064.0
124  2017-01-07     631.5  374394.0
52   2017-01-08     226.5  144691.2
16   2017-01-08     453.0  289920.0
73   2017-01-09     274.5  175680.0
127  2017-01-09     372.0  238080.0
189  2017-01-10     874.5  479674.8
207  2017-01-10    1269.0  692805.6
258  2017-01-11     654.0  349706.4
200  2017-01-11     655.5  396627.6
119  2017-01-12     508.5  281546.4
154  2017-01-12     880.5  489667.2
357  2017-01-13     357.0  210810.0
396  2017-01-13     219.0  128814.0
374  2017-01-14     210.0  124152.0
409  2017-01-14     301.5  177873.6
436  2017-01-15     255.0  149004.0
481  2017-01-15     343.5  203032.8
501  2017-01-16     345.0  185251.2
517  2017-01-16     375.0  215991.6
592  2017-01-17     301.5  174979.2
563  2017-01-17     201.0  118831.2
...         ...       ...       ...
1269 2019-08-01     391.0  208773.5
1154 2019-08-01     249.9  131630.2
999  2019-08-02     108.8   70166.2
1019 2019-08-02     241.4  154676.6
1473 2019-08-03     358.7  187138.9
1459 2019-08-03     311.1  162423.3
1237 2019-09-01     600.1  320680.1
1281 2019-09-01     306.0  163566.0
1053 2019-09-02     100.3   65010.4
1090 2019-09-02     234.6  151659.3
1517 2019-09-03     365.5  191781.2
1511 2019-09-03     503.2  262176.2
19   2019-10-01     564.4  301642.9
17   2019-10-01     382.5  204457.5
1    2019-10-02     255.0  164550.1
6    2019-10-02     149.6   96317.0
172  2019-10-03     350.2  182816.4
206  2019-10-03     710.6  369148.0
28   2019-11-01     574.6  308711.0
35   2019-11-01     584.8  312789.1
41   2019-11-02     365.5  178685.0
25   2019-11-02     413.1  209067.3
316  2019-11-03     676.6  329505.8
292  2019-11-03     620.5  319829.9
95   2019-12-01     365.5  196940.9
63   2019-12-01     613.7  331921.2
18   2019-12-02     389.3  201069.7
32   2019-12-02     192.1   99568.3
359  2019-12-03     345.1  179011.3
383  2019-12-03     459.0  239263.7

[1616 rows x 3 columns]

In [126]:
""""
Por último, observamos que los indices del nuevo dataframe están desordenados. 
Para el análisis de datos, en ocasiones es MUY IMPORTANTE que los índices estén ordenados
Para eso usamos el método reset_index. Debemos usar drop si no queremos que el índice antiguo 
se transforme en una columna nueva
"""""
data2.reset_index(inplace=True, drop=True)
data2

          fecha  cantidad     venta
0    2017-01-02     937.5  483481.2
1    2017-01-02     352.5  180204.0
2    2017-01-03    1107.0  577962.0
3    2017-01-03     673.5  348318.0
4    2017-01-04     280.5  154766.4
5    2017-01-04     408.0  226039.2
6    2017-01-06     280.5  173910.0
7    2017-01-06     513.0  318060.0
8    2017-01-07     568.5  338064.0
9    2017-01-07     631.5  374394.0
10   2017-01-08     226.5  144691.2
11   2017-01-08     453.0  289920.0
12   2017-01-09     274.5  175680.0
13   2017-01-09     372.0  238080.0
14   2017-01-10     874.5  479674.8
15   2017-01-10    1269.0  692805.6
16   2017-01-11     654.0  349706.4
17   2017-01-11     655.5  396627.6
18   2017-01-12     508.5  281546.4
19   2017-01-12     880.5  489667.2
20   2017-01-13     357.0  210810.0
21   2017-01-13     219.0  128814.0
22   2017-01-14     210.0  124152.0
23   2017-01-14     301.5  177873.6
24   2017-01-15     255.0  149004.0
25   2017-01-15     343.5  203032.8
26   2017-01-16     345.0  185251.2
27   2017-01-16     375.0  215991.6
28   2017-01-17     301.5  174979.2
29   2017-01-17     201.0  118831.2
...         ...       ...       ...
1586 2019-08-01     391.0  208773.5
1587 2019-08-01     249.9  131630.2
1588 2019-08-02     108.8   70166.2
1589 2019-08-02     241.4  154676.6
1590 2019-08-03     358.7  187138.9
1591 2019-08-03     311.1  162423.3
1592 2019-09-01     600.1  320680.1
1593 2019-09-01     306.0  163566.0
1594 2019-09-02     100.3   65010.4
1595 2019-09-02     234.6  151659.3
1596 2019-09-03     365.5  191781.2
1597 2019-09-03     503.2  262176.2
1598 2019-10-01     564.4  301642.9
1599 2019-10-01     382.5  204457.5
1600 2019-10-02     255.0  164550.1
1601 2019-10-02     149.6   96317.0
1602 2019-10-03     350.2  182816.4
1603 2019-10-03     710.6  369148.0
1604 2019-11-01     574.6  308711.0
1605 2019-11-01     584.8  312789.1
1606 2019-11-02     365.5  178685.0
1607 2019-11-02     413.1  209067.3
1608 2019-11-03     676.6  329505.8
1609 2019-11-03     620.5  319829.9
1610 2019-12-01     365.5  196940.9
1611 2019-12-01     613.7  331921.2
1612 2019-12-02     389.3  201069.7
1613 2019-12-02     192.1   99568.3
1614 2019-12-03     345.1  179011.3
1615 2019-12-03     459.0  239263.7

[1616 rows x 3 columns]

### Método 2: Usando el método  apply, format y el cálculo lambda

- El método **apply** sirve para aplicar una función a toda una columna o toda una fila en un determinado dataframe en pandas.
- El formateo (format) hace que cada expresion vacía se llene con lo que está dentro del parentesis '{}'. Por lo tanto es una manera *simple* de pasar a string.   
- EL **cálculo lambda** proviene de la lógica matemática para definir el concepto de función y abordar el problema de la recursividad. En python se usa para definir funciones de una manera simple y directa usando la siguiente lógica:

<h3><center>lambda variable: expresion(variable)</center></h3>

Por lo tanto, este método, que es más sotisificado que el anterior, consiste en aplicar a toda la columna un formateo de string usando una función definida por el cálculo lambda. Luego pasamos a formato de fecha y reseteamos el índice.

In [127]:
data3=pd.read_csv('https://bit.ly/2ZNXHTQ')

#en una sola línea:
data3['fecha']=data3[['dia','mes','año']].apply(lambda x : '{}-{}-{}'.format(x[0],x[1],x[2]), axis=1)

###

data3['fecha']=pd.to_datetime(data3['fecha'])
data3=data3[['fecha','cantidad','venta']]
data3.sort_values('fecha', inplace=True)
data3.reset_index(inplace=True, drop=True)
data3

          fecha  cantidad     venta
0    2017-01-02     937.5  483481.2
1    2017-01-02     352.5  180204.0
2    2017-01-03    1107.0  577962.0
3    2017-01-03     673.5  348318.0
4    2017-01-04     280.5  154766.4
5    2017-01-04     408.0  226039.2
6    2017-01-06     280.5  173910.0
7    2017-01-06     513.0  318060.0
8    2017-01-07     568.5  338064.0
9    2017-01-07     631.5  374394.0
10   2017-01-08     226.5  144691.2
11   2017-01-08     453.0  289920.0
12   2017-01-09     274.5  175680.0
13   2017-01-09     372.0  238080.0
14   2017-01-10     874.5  479674.8
15   2017-01-10    1269.0  692805.6
16   2017-01-11     654.0  349706.4
17   2017-01-11     655.5  396627.6
18   2017-01-12     508.5  281546.4
19   2017-01-12     880.5  489667.2
20   2017-01-13     357.0  210810.0
21   2017-01-13     219.0  128814.0
22   2017-01-14     210.0  124152.0
23   2017-01-14     301.5  177873.6
24   2017-01-15     255.0  149004.0
25   2017-01-15     343.5  203032.8
26   2017-01-16     345.0  185251.2
27   2017-01-16     375.0  215991.6
28   2017-01-17     301.5  174979.2
29   2017-01-17     201.0  118831.2
...         ...       ...       ...
1586 2019-08-01     391.0  208773.5
1587 2019-08-01     249.9  131630.2
1588 2019-08-02     108.8   70166.2
1589 2019-08-02     241.4  154676.6
1590 2019-08-03     358.7  187138.9
1591 2019-08-03     311.1  162423.3
1592 2019-09-01     600.1  320680.1
1593 2019-09-01     306.0  163566.0
1594 2019-09-02     100.3   65010.4
1595 2019-09-02     234.6  151659.3
1596 2019-09-03     365.5  191781.2
1597 2019-09-03     503.2  262176.2
1598 2019-10-01     564.4  301642.9
1599 2019-10-01     382.5  204457.5
1600 2019-10-02     255.0  164550.1
1601 2019-10-02     149.6   96317.0
1602 2019-10-03     350.2  182816.4
1603 2019-10-03     710.6  369148.0
1604 2019-11-01     574.6  308711.0
1605 2019-11-01     584.8  312789.1
1606 2019-11-02     365.5  178685.0
1607 2019-11-02     413.1  209067.3
1608 2019-11-03     676.6  329505.8
1609 2019-11-03     620.5  319829.9
1610 2019-12-01     365.5  196940.9
1611 2019-12-01     613.7  331921.2
1612 2019-12-02     389.3  201069.7
1613 2019-12-02     192.1   99568.3
1614 2019-12-03     345.1  179011.3
1615 2019-12-03     459.0  239263.7

[1616 rows x 3 columns]

### Ejercicios

- Calcular una columna de precio
- El cliente necesita las salidas en el formato YY-MM-DD. Cree otro dataset con las fechas en ese formato usando cualquier de los dos métodos (de preferencia el 2)
- Suponga que un data scientist senior de su empresa le pide analizar **un año de datos** con fecha máxima el mes julio 2019, ya que se debe evaluar las ventas del ultimo año y en producción aun no se cierra el mes de agosto 2019. Cree un dataframe auxiliar con esta consideración.
- ¿Por qué hay cree usted que hay dos datos por cada fecha?

**Tarea**

- Cree un nuevo dataset en donde cada fecha debe aparecer una sola vez.
- Calcule el precio promedio del último año cerrado
- ¿En cuántos días las transacciones estuvieron por sobre los 650 pesos?

In [130]:
data3['precio']=data3.venta/data3.cantidad
data3

          fecha  cantidad     venta      precio
0    2017-01-02     937.5  483481.2  515.713280
1    2017-01-02     352.5  180204.0  511.217021
2    2017-01-03    1107.0  577962.0  522.097561
3    2017-01-03     673.5  348318.0  517.175947
4    2017-01-04     280.5  154766.4  551.751872
5    2017-01-04     408.0  226039.2  554.017647
6    2017-01-06     280.5  173910.0  620.000000
7    2017-01-06     513.0  318060.0  620.000000
8    2017-01-07     568.5  338064.0  594.659631
9    2017-01-07     631.5  374394.0  592.864608
10   2017-01-08     226.5  144691.2  638.813245
11   2017-01-08     453.0  289920.0  640.000000
12   2017-01-09     274.5  175680.0  640.000000
13   2017-01-09     372.0  238080.0  640.000000
14   2017-01-10     874.5  479674.8  548.513208
15   2017-01-10    1269.0  692805.6  545.946099
16   2017-01-11     654.0  349706.4  534.719266
17   2017-01-11     655.5  396627.6  605.076430
18   2017-01-12     508.5  281546.4  553.680236
19   2017-01-12     880.5  489667.2  556.124020
20   2017-01-13     357.0  210810.0  590.504202
21   2017-01-13     219.0  128814.0  588.191781
22   2017-01-14     210.0  124152.0  591.200000
23   2017-01-14     301.5  177873.6  589.962189
24   2017-01-15     255.0  149004.0  584.329412
25   2017-01-15     343.5  203032.8  591.070742
26   2017-01-16     345.0  185251.2  536.960000
27   2017-01-16     375.0  215991.6  575.977600
28   2017-01-17     301.5  174979.2  580.362189
29   2017-01-17     201.0  118831.2  591.200000
...         ...       ...       ...         ...
1586 2019-08-01     391.0  208773.5  533.947570
1587 2019-08-01     249.9  131630.2  526.731493
1588 2019-08-02     108.8   70166.2  644.909926
1589 2019-08-02     241.4  154676.6  640.748136
1590 2019-08-03     358.7  187138.9  521.714246
1591 2019-08-03     311.1  162423.3  522.093539
1592 2019-09-01     600.1  320680.1  534.377770
1593 2019-09-01     306.0  163566.0  534.529412
1594 2019-09-02     100.3   65010.4  648.159521
1595 2019-09-02     234.6  151659.3  646.459079
1596 2019-09-03     365.5  191781.2  524.709166
1597 2019-09-03     503.2  262176.2  521.017886
1598 2019-10-01     564.4  301642.9  534.448795
1599 2019-10-01     382.5  204457.5  534.529412
1600 2019-10-02     255.0  164550.1  645.294510
1601 2019-10-02     149.6   96317.0  643.830214
1602 2019-10-03     350.2  182816.4  522.034266
1603 2019-10-03     710.6  369148.0  519.487757
1604 2019-11-01     574.6  308711.0  537.262443
1605 2019-11-01     584.8  312789.1  534.865082
1606 2019-11-02     365.5  178685.0  488.878249
1607 2019-11-02     413.1  209067.3  506.093682
1608 2019-11-03     676.6  329505.8  487.002365
1609 2019-11-03     620.5  319829.9  515.439001
1610 2019-12-01     365.5  196940.9  538.825992
1611 2019-12-01     613.7  331921.2  540.852534
1612 2019-12-02     389.3  201069.7  516.490367
1613 2019-12-02     192.1   99568.3  518.314940
1614 2019-12-03     345.1  179011.3  518.722979
1615 2019-12-03     459.0  239263.7  521.271678

[1616 rows x 4 columns]

In [131]:
data3.precio.describe()

count    1616.000000
mean      584.013880
std        51.197193
min       398.356334
25%       546.141427
50%       595.527692
75%       623.200000
max       650.000000
Name: precio, dtype: float64